<div class="container-fluid">
  <% @tweets.each do |tweet| %>
    <div class="row-fluid">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 tweetcol rounded">
        <p class="tweet-content"><%= tweet.content %></p>
        <p class="posted-by">Posted by <a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a> on <%= tweet.created_at.strftime("%m/%d/%Y at %l:%M %p") %>   
        <% if admin? %>
          <form id="deltweet" name="deltweet" action="/tweets/<%= tweet.id %>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="delete">
            <span class="greeting del">[<input class="del_button" type="submit" value="Delete">]</span>
          </form>
        <% end %></p>
      </div>
    </div><!-- div-row -->
  <% end %>
</div>